<!DOCTYPE html>
<html style="height: 100%" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body style="height: 100%; margin: 0">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="index">投资演练平台</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="stockquery">股票行情</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                BTC行情 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="btcquerytoday">今日</a></li>
                                <li><a href="btcquery3day">3日</a></li>
                                <li><a href="btcquery7day">7日</a></li>
                                <li class="divider"></li>
                                <li><a href="btchistory">历史</a></li>
                                <li class="divider"></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                LTC行情 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="ltcquerytoday">今日</a></li>
                                <li><a href="ltcquery3day">3日</a></li>
                                <li><a href="ltcquery7day">7日</a></li>
                                <li class="divider"></li>
                                <li><a href="ltchistory">历史</a></li>
                                <li class="divider"></li>

                            </ul>
                        </li>


                        <li>
                            <a href="stockbuy">股票交易</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                BTC交易 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="btcbuy">买入</a></li>
                                <li><a href="btcsell">卖出</a></li>


                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                LTC交易 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="ltcbuy">买入</a></li>
                                <li><a href="ltcsell">卖出</a></li>


                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                用户信息 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="record">交易记录</a></li>
                                <li><a href="holding">当前持仓</a></li>

                                <li><a href="balance">查询余额</a></li>
                                <li><a href="changepassword">修改密码</a></li>


                            </ul>
                        </li>
                        <li>
                            <a href="analyse">盈亏分析</a>
                        </li>
                        <li>
                            <a href="recommend">股票推荐</a>
                        </li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <!--  <p th:text="'当前剩余本金: ' + ${user.balance}" />-->
                        </li>
                        <li>
                            <!-- <button type="button" class="btn btn-danger" onclick="help()">帮助与支持</button>-->
                            <!--  <a href="#">登录</a>-->
                        </li>

                    </ul>
                </div>

            </nav>
        </div></div></div>
<div id="container" style="height: 100%"></div>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=4lQVZm0fROBvMRqw9hjSBofRXoYkv64u"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<script type="text/javascript" th:inline="javascript">
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    var message=[[${result}]];
    var labelRight = {
        normal: {
            position: 'right'
        }
    };
    option = {
        title: {
            text: '盈亏情况统计',
            subtext: '以一定周期统计您的盈亏情况，数据单位为百分比。',
            // sublink: 'http://e.weibo.com/1341556070/AjwF2AgQm'
        },
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            top: 80,
            bottom: 30
        },
        xAxis: {
            type : 'value',
            position: 'top',
            splitLine: {lineStyle:{type:'dashed'}},
        },
        yAxis: {
            type : 'category',
            axisLine: {show: false},
            axisLabel: {show: false},
            axisTick: {show: false},
            splitLine: {show: false},
            data : []
        },
        series : [
            {
                name:'盈亏率',
                type:'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        formatter: '{b}'
                    }
                },
                data:[

                ]
            }
        ]
    };
    ;

    //console.log("**************");
   // console.log(message.length);
  //  console.log(message);
    for(i=0;i<message.length;i++){
   //     console.log("^^^^^^^^^^^^^^^^");
   //     console.log(message[i]);
    //    console.log(message[i].rate)
        option.series[0].data.push(message[i].rate);
        option.yAxis.data.push(message[i].time);
    }
    console.log("&&&&&&&&&&&&&&&");
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>
</body>
</html>