<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>投资演练平台</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Lora|Poppins:300,400,500,600,700|Roboto:100,300,400,500,700,900" rel="stylesheet">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <!-- ThemeFisher Icon -->
    <link rel="stylesheet" href="css/vendor/themefisher-fonts.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/vendor/owl.carousel.css">
    <link rel="stylesheet" href="css/vendor/owl.transitions.css">
    <!-- Light Box -->
    <link rel="stylesheet" href="css/vendor/magnific-popup.css">
    <!-- fullpage -->
    <link rel="stylesheet" href="css/vendor/fullpage.min.css">
    <link rel="stylesheet" href="css/vendor/playfairdisplaysc.css">
    <!-- <link rel="stylesheet" href="css/vendor/font-awesome.min.css"> -->

    <link rel="stylesheet" href="">


    <link rel="stylesheet" href="css/style.css">

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */

    </style>
    






    <script src="js/vendor/modernizr.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Loader to display before content Load-->
  <div class="loading">

    <!-- <img src="img/loader.gif" alt=""> -->

    <div class="windows8 loading-position">
      <div class="wBall" id="wBall_1">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_2">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_3">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_4">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_5">
        <div class="wInnerBall"></div>
      </div>
    </div>
  </div> 


 <!-- Navigation -section
  =========================-->
<nav class="navbar navbar-fixed-top navigation" >
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="index.html">
        <img src="images/logo-yellow.png" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right menu">
        <li><a href="login">登录</a></li>
        <li><a href="register">注册</a></li>
    
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

 <!-- Hero Area -section
  =========================-->
  <header class="hero-area th-fullpage" data-parallax="scroll" style="background: url(images/slider/bg-1.jpg);background-size: cover">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>欢迎使用 <br>
            投资演练平台</h1>
        </div>
      </div>
    </div>
  </header>




 
<!-- Contact Us Sections
=========================-->




    <a class="btn btn--success btn--floating box-shadow-wide" target="_blank" href="login">
    <span class="btn__text">
        立即登录
    </span>
</a>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="footer-top">
                        <div class="col-md-4">
                            <!-- footer About section
                            ========================== -->
                            <div class="footer-about">
                                <h3 class="footer-title">关于本平台</h3>
                                <p>我们是一个投资理财综合演练平台 <br>
                                 提供A股、H股、NASDAQ、NYSE股票 <br>
                                  及Bitcoin、Litecoin虚拟货币 <br>
                                 的交易模拟演练</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- footer Address section
                            ========================== -->
                            <div class="footer-address">
                                <h3 class="footer-title">地址</h3>
                                <p>山东省威海市环翠区文化西路2号 哈尔滨工业大学（威海)</p>
                               
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- footer Media link section
                            ========================== -->
                            
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>&copy; 2019 All rights reserved. <br> 何晓艺150410430 哈尔滨工业大学（威海）</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdn.bootcss.com/jquery/2.1.2/jquery.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!-- Owl Carousel js -->
    <script src="js/vendor/owl.carousel.min.js"></script>
    <!-- Mixitup -->
    <script src="js/vendor/jquery.mixitup.js"></script>
    <!-- Lightbox -->
    <script src="js/vendor/jquery.magnific-popup.min.js"></script>
    <!-- Parallax -->
    <script src="js/vendor/parallax.min.js"></script>
    <!-- Video -->
    <script src="js/vendor/jquery.vide.js"></script>
   
 


    <!-- =======
        Main Js
    ============ -->
    <script src="js/script.js"></script>
  </body>
</html>

