<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>交易操作</title>
</head>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="index">投资演练平台</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="stockquery">股票行情</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                BTC行情 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="btcquerytoday">今日</a></li>
                                <li><a href="btcquery3day">3日</a></li>
                                <li><a href="btcquery7day">7日</a></li>
                                <li class="divider"></li>
                                <li><a href="btchistory">历史</a></li>
                                <li class="divider"></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                LTC行情 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="ltcquerytoday">今日</a></li>
                                <li><a href="ltcquery3day">3日</a></li>
                                <li><a href="ltcquery7day">7日</a></li>
                                <li class="divider"></li>
                                <li><a href="ltchistory">历史</a></li>
                                <li class="divider"></li>

                            </ul>
                        </li>


                        <li>
                            <a href="stockbuy">股票交易</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                BTC交易 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="btcbuy">买入</a></li>
                                <li><a href="btcsell">卖出</a></li>


                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                LTC交易 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="ltcbuy">买入</a></li>
                                <li><a href="ltcsell">卖出</a></li>


                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                用户信息 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="record">交易记录</a></li>
                                <li><a href="holding">当前持仓</a></li>

                                <li><a href="balance">查询余额</a></li>
                                <li><a href="changepassword">修改密码</a></li>


                            </ul>
                        </li>
                        <li>
                            <a href="analyse">盈亏分析</a>
                        </li>
                        <li>
                            <a href="recommend">股票推荐</a>
                        </li>

                    </ul>


                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <!--  <p th:text="'当前剩余本金: ' + ${user.balance}" />-->
                        </li>
                        <li>
                            <!-- <button type="button" class="btn btn-danger" onclick="help()">帮助与支持</button>-->
                            <!--  <a href="#">登录</a>-->
                        </li>

                    </ul>
                </div>

            </nav>
        </div></div></div>
<div class="row clearfix">
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
        <h2>股票买入</h2>
        <div class="alert alert-warning">注意：美股的股票号码请以小写字母输入。</div>
        <div class="alert alert-info">买入手续费率为0.1%，卖出手续费率为0.5%。请输入股票号和交易量，然后点击对应的交易所名称即可买入（无需事先选择交易所）。</div>
        <form action="#" th:action="@{/stockbuy}" th:object="${trade1}" method="post" id="stock_form">
            <p>股票号: <input class="form-control" id="code" type="text" th:field="*{type}" /></p>
            <p>交易量: <input class="form-control" id="count" type="text" th:field="*{count}" /></p>
            <!--   <p>密码: <input class="form-control" type="password" th:field="*{password}" /></p>-->
        <!--    <p><input class="btn btn-success" value="提交" onclick="checkForm()"/> <input class="btn btn-warning" type="reset" value="重填" /></p> -->
            <div class="alert alert-info">下方绿色按钮为买入操作，红色按钮为卖出操作。</div>
            <p><input class="btn btn-success" value="沪市" onclick="SSE()"/>      <input class="btn btn-success" value="深市" onclick="SZSE()"/>
            </p> <p>  <input class="btn btn-success" value="港交所" onclick="HKEX()"/>      <input class="btn btn-success" value="纽交所/纳斯达克" onclick="NYSE()"/>
            </p> <!-- <p><input class="btn btn-success" value="纳斯达克" onclick="NASDAQ()"/>-->
            <p><input class="btn btn-danger" value="沪市" onclick="SSES()"/>      <input class="btn btn-danger" value="深市" onclick="SZSES()"/>
            </p> <p>  <input class="btn btn-danger" value="港交所" onclick="HKEXS()"/>      <input class="btn btn-danger" value="纽交所/纳斯达克" onclick="NYSES()"/>
        </p>


        </form>
        <script>
            function checkForm(){
                var form = document.getElementById("stock_form");//得到股票号字符串
                var code=document.getElementById("code");
               // code.value="SSE:"+code.value;
                code.value="sh_"+code.value;
                console.log(code.value);
                form.submit();//提交表单
                return true;
            }
            function change_count(){
                var count=document.getElementById("count");
                count.value="-"+count.value;
            }
            function SSE(){
                var form = document.getElementById("stock_form");//得到股票号字符串
                var code=document.getElementById("code");
                code.value="sh"+code.value;
                console.log(code.value);
                form.submit();//提交表单
                return true;
            }
            function SZSE(){
                var form = document.getElementById("stock_form");//得到股票号字符串
                var code=document.getElementById("code");
                code.value="sz"+code.value;
                console.log(code.value);
                form.submit();//提交表单
                return true;
            }
            function NYSE(){
                var form = document.getElementById("stock_form");//得到股票号字符串
                var code=document.getElementById("code");
                code.value="gb_"+code.value;
                console.log(code.value);
                form.submit();//提交表单
                return true;
            }
            function NASDAQ(){
                var form = document.getElementById("stock_form");//得到股票号字符串
                var code=document.getElementById("code");
                code.value="gb_"+code.value;
                console.log(code.value);
                form.submit();//提交表单
                return true;
            }
            function HKEX(){
                var form = document.getElementById("stock_form");//得到股票号字符串
                var code=document.getElementById("code");
                code.value="hk"+code.value;
                console.log(code.value);
                form.submit();//提交表单
                return true;
            }
            function SSES(){
                var form = document.getElementById("stock_form");//得到股票号字符串
                var code=document.getElementById("code");
                code.value="sh"+code.value;
                console.log(code.value);
                change_count();
                form.submit();//提交表单
                return true;
            }
            function SZSES(){
                var form = document.getElementById("stock_form");//得到股票号字符串
                var code=document.getElementById("code");
                code.value="sz"+code.value;
                console.log(code.value);
                form.submit();//提交表单
                return true;
            }
            function NYSES(){
                var form = document.getElementById("stock_form");//得到股票号字符串
                var code=document.getElementById("code");
                code.value="gb_"+code.value;
                console.log(code.value);
                change_count();
                form.submit();//提交表单
                return true;
            }
            function NASDAQS(){
                var form = document.getElementById("stock_form");//得到股票号字符串
                var code=document.getElementById("code");
                code.value="gb_"+code.value;
                console.log(code.value);
                change_count();
                form.submit();//提交表单
                return true;
            }
            function HKEXS(){
                var form = document.getElementById("stock_form");//得到股票号字符串
                var code=document.getElementById("code");
                code.value="hk"+code.value;
                console.log(code.value);
                change_count();
                form.submit();//提交表单
                return true;
            }
        </script>
    </div></div>

</body>


</html>