<!DOCTYPE html>
<html style="height: 100%" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>股票信息查询</title>
</head>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body style="height: 100%; margin: 0">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="index">投资演练平台</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="stockquery">股票行情</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                BTC行情 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="btcquerytoday">今日</a></li>
                                <li><a href="btcquery3day">3日</a></li>
                                <li><a href="btcquery7day">7日</a></li>
                                <li class="divider"></li>
                                <li><a href="btchistory">历史</a></li>
                                <li class="divider"></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                LTC行情 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="ltcquerytoday">今日</a></li>
                                <li><a href="ltcquery3day">3日</a></li>
                                <li><a href="ltcquery7day">7日</a></li>
                                <li class="divider"></li>
                                <li><a href="ltchistory">历史</a></li>
                                <li class="divider"></li>

                            </ul>
                        </li>


                        <li>
                            <a href="stockbuy">股票交易</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                BTC交易 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="btcbuy">买入</a></li>
                                <li><a href="btcsell">卖出</a></li>


                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                LTC交易 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="ltcbuy">买入</a></li>
                                <li><a href="ltcsell">卖出</a></li>


                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                用户信息 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="record">交易记录</a></li>
                                <li><a href="holding">当前持仓</a></li>

                                <li><a href="balance">查询余额</a></li>
                                <li><a href="changepassword">修改密码</a></li>


                            </ul>
                        </li>
                        <li>
                            <a href="analyse">盈亏分析</a>
                        </li>
                        <li>
                            <a href="recommend">股票推荐</a>
                        </li>

                    </ul>


                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <!--  <p th:text="'当前剩余本金: ' + ${user.balance}" />-->
                        </li>
                        <li>
                            <!-- <button type="button" class="btn btn-danger" onclick="help()">帮助与支持</button>-->
                            <!--  <a href="#">登录</a>-->
                        </li>

                    </ul>
                </div>

            </nav>
        </div></div></div>
<div class="row clearfix">
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">

<h1>股票信息查询</h1>

<!--<p>：</p>-->

<input id="numb" class="form-control" placeholder="请按照格式输入交易所和股票号">
        <p id="demo"></p>
<button type="button" class="btn btn-success" onclick="myFunction()">查询</button>
<button type="button" class="btn btn-success" onclick="SSE()">沪市</button>
<button type="button" class="btn btn-success" onclick="SZSE()">深市</button>
<button type="button" class="btn btn-success" onclick="HKEX()">港交所</button>
<button type="button" class="btn btn-success" onclick="NYSE()">纽交所</button>
<button type="button" class="btn btn-success" onclick="NASDAQ()">纳斯达克</button>
        <table class="table table-striped">
            <caption>查询字段格式说明</caption>
            <thead>
            <tr>
                <th>交易所</th>
              
                <th>示例</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>上海证券交易所（沪市）</td>
           
                <td>600519</td>
            </tr>
            <tr>
                <td>深圳证券交易所（深市）</td>
               
                <td>000725</td>
            </tr>
            <tr>
                <td>香港交易所</td>
                
                <td>788</td>
            </tr>
            <tr>
                <td>纽约证券交易所</td>
              
                <td>GE</td>
            </tr>
            <tr>
                <td>美国全国证券交易商协会自动报价表(纳斯达克)</td>
           
                <td>INTC</td>
            </tr>
            </tbody>
        </table>

    </div>
<div class="col-md-4 column"></div>

<script>
function myFunction() {
    var x, text;

    // 获取 id="numb" 的值
    x = document.getElementById("numb").value;
	
    
   	window.location.href="https://cn.tradingview.com/chart?symbol="+x ;
    document.getElementById("demo").innerHTML = x;

   
}
function SSE() {
    var x, text;

    // 获取 id="numb" 的值
    x = document.getElementById("numb").value;
	
    
   	window.location.href="https://cn.tradingview.com/chart?symbol=SSE:"+x ;
    document.getElementById("demo").innerHTML = x;

   
}
function SZSE() {
    var x, text;

    // 获取 id="numb" 的值
    x = document.getElementById("numb").value;
	
    
   	window.location.href="https://cn.tradingview.com/chart?symbol=SZSE:"+x ;
    document.getElementById("demo").innerHTML = x;

  
}
function HKEX() {
    var x, text;

    // 获取 id="numb" 的值
    x = document.getElementById("numb").value;
	
    
   	window.location.href="https://cn.tradingview.com/chart?symbol=HKEX:"+x ;
    document.getElementById("demo").innerHTML = x;

  
}
function NYSE() {
    var x, text;

    // 获取 id="numb" 的值
    x = document.getElementById("numb").value;
	
    
   	window.location.href="https://cn.tradingview.com/chart?symbol=NYSE:"+x ;
    document.getElementById("demo").innerHTML = x;

  
}
function NASDAQ() {
    var x, text;

    // 获取 id="numb" 的值
    x = document.getElementById("numb").value;
	
    
   	window.location.href="https://cn.tradingview.com/chart?symbol=NASDAQ:"+x ;
    document.getElementById("demo").innerHTML = x;

    
}
</script>

</body>
</html>